@model LiepaLimited.Test.Application.Dto.UserInfoDto

<table>
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@Model.Status</td>
    </tr>
</table>

